<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission
        android:name="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <receiver
            android:name=".util.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".ui.setting.SettingAct" />

        <provider
            android:name=".util.provider.FavoriteProvider"
            android:authorities="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal"
            android:exported="true"
            android:readPermission="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal.READ_DATABASE"
            android:writePermission="com.nurzainpradana.androidfundamental.submission3aplikasigithubuserfinal.WRITE_DATABASE" />

        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity android:name=".ui.detailuser.DetailUserActivity" />
        <activity android:name=".ui.searchuser.SearchUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>